{{define "title"}}Войти{{end}}

{{define "body"}}
    <div id="preloader" class="d-flex content-center align-center">
        <div class="spinner-grow text-color-blue" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    <div class="container-fluid navigation fixed-top bg-blue">
        <div class="container">
            <header
                class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between padding-y-1">
                <a class="text-light ig-logo" href="https://www.instagram.com/s.renovation_/" target="_blank">
                    <i class="fa-brands fa-instagram fa-xl"></i>
                </a>
                <div class="brand">
                    <a href="/"
                        class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
                        <img class="brand-img" src="../../static/images/brand_logo/brand-3.png" alt="s-renovation">
                    </a>
                </div>
                <ul id="navbar-lists" class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="/#services" class="i-nav-link nav-link px-4 link-light">Услуги</a></li>
                    <li><a href="/#gallery" class="i-nav-link nav-link px-4 link-light">Работы</a></li>
                    <li><a href="/#prices" class="i-nav-link nav-link px-4 link-light">Цены</a></li>
                    <li><a href="/#contact" class="i-nav-link nav-link px-4 link-light">Контакты</a></li>
                    <li><a href="/#advantages" class="i-nav-link nav-link px-4 link-light">Преимущества</a>
                    </li>
                </ul>
                <div id="navbar-btn" class="text-end">
                    <a href="/signin" class="btn btn-outline-primary me-2 signin main-border-radius">Войти</a>
                    <a href="/signup" class="btn btn-primary signup main-border-radius">Зарегистрироваться</a>
                </div>
                <a id="offcanvas-btn" class="btn" data-bs-toggle="offcanvas" href="#offcanvas" role="button"
                    aria-controls="offcanvasExample" style="width:50px; padding-right: 0;">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 850 643.91" style="max-width: 25px;">
                        <defs>
                            <style>
                                .cls-1 {
                                    fill: #fff;
                                }
                            </style>
                        </defs>
                        <g id="Слой_2" data-name="Слой 2">
                            <g id="Слой_1-2" data-name="Слой 1">
                                <path class="cls-1" d="M50,99.5a49.5,49.5,0,0,1,0-99H800a49.5,49.5,0,0,1,0,99Z" />
                                <path class="cls-1"
                                    d="M800,1a49,49,0,0,1,0,98H50A49,49,0,0,1,50,1H800m0-1H50A50,50,0,0,0,0,50H0a50,50,0,0,0,50,50H800a50,50,0,0,0,50-50h0A50,50,0,0,0,800,0Z" />
                                <path class="cls-1" d="M50,643.41a49.5,49.5,0,0,1,0-99H800a49.5,49.5,0,0,1,0,99Z" />
                                <path class="cls-1"
                                    d="M800,544.91a49,49,0,0,1,0,98H50a49,49,0,0,1,0-98H800m0-1H50a50,50,0,0,0-50,50H0a50,50,0,0,0,50,50H800a50,50,0,0,0,50-50h0a50,50,0,0,0-50-50Z" />
                                <path class="cls-1" d="M50,371.46a49.5,49.5,0,0,1,0-99H800a49.5,49.5,0,0,1,0,99Z" />
                                <path class="cls-1"
                                    d="M800,273a49,49,0,0,1,0,98H50a49,49,0,0,1,0-98H800m0-1H50A50,50,0,0,0,0,322H0a50,50,0,0,0,50,50H800a50,50,0,0,0,50-50h0a50,50,0,0,0-50-50Z" />
                            </g>
                        </g>
                    </svg>
                </a>
                <div class="offcanvas offcanvas-start py-0 px-3" tabindex="-1" id="offcanvas"
                    aria-labelledby="offcanvasLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasLabel">
                            <div class="brand">
                                <a href="/"
                                    class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
                                    <img class="brand-img" src="../../static/images/brand_logo/brand-2.png"
                                        alt="s-renovation">
                                </a>
                            </div>
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <hr>
                    <ul class="nav nav-pills flex-column mb-auto">
                        <li class="nav-item">
                            <a href="/" class="nav-link active bg-blue main-border-radius" aria-current="page"
                               t>
                                Главная
                            </a>
                        </li>
                        <li>
                            <a href="/#gallery" class="nav-link link-dark main-border-radius">
                                Работы
                            </a>
                        </li>
                        <li>
                            <a href="/#prices" class="nav-link link-dark main-border-radius">
                                Цены
                            </a>
                        </li>
                        <li>
                            <a href="/#contact" class="nav-link link-dark main-border-radius">
                                Контакты
                            </a>
                        </li>
                        <li>
                            <a href="/#advantages" class="nav-link link-dark main-border-radius">
                                Преимущества
                            </a>
                        </li>
                    </ul>
                    <div class="d-flex text-end mb-3 justify-content-between">
                        <a href="/signin" class="btn btn-primary main-border-radius"
                            style="flex: 1 0 0; margin-right: 15px;">Войти</a>
                        <a href="/signup" class="btn btn-primary main-border-radius"
                           style="flex: 1 0 0;">Зарегистрироваться</a>
                    </div>
                </div>
            </header>
        </div>
    </div>
    <section>
        <div class="page-header min-vh-100 d-flex align-center">
            <div class="container">
                <div class="row">
                    <div class="col-xl-4 col-lg-5 col-md-7 d-flex flex-column mx-lg-0 mx-auto">
                        <div class="card card-plain no-border">
                            <div class="p-card-header pb-0 text-left no-border">
                                <h2 class="font-weight-bolder text-color-blue">Войти</h2>
                                <p class="mb-0">Введите адрес электронной почты и пароль для входа</p>
                            </div>
                            <div class="card-body">
                                <!-- BEGIN FORM -->
                                <form action="/signin" id="contact-form" method="post" autocomplete="on">
                                    <div class="row">
                                        <!-- ALERT BOX
                                        <div class="alert alert-danger" role="alert">
                                            Не верный пароль или электронный адрес
                                        </div> 
                                        -->
                                        <div class="col-md-12">
                                            <label>Email адрес <span class="text-danger">*</span></label>
                                            <div class="input-group mb-4">
                                                <input type="email" class="form-control" placeholder="example@gmail.com"
                                                    autocomplete="username" name="email">

                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <label>Пароль <span class="text-danger">*</span></label>
                                            <div class="input-group mb-4">
                                                <input type="password" class="form-control" placeholder="Пароль"
                                                    autocomplete="current-password" name="password">
                                            </div>
                                        </div>
                                    </div>

                                    <button type="submit"
                                        class="btn btn-primary px-4 me-md-2 i-btn mt-3 main-border-radius width-100">Войти</button>
                                </form>
                            </div>
                            <!-- END FORM -->
                        </div>
                        <div class="card-footer text-center pt-0 px-lg-2 px-1">
                            <p class="mb-4 text-sm mx-auto">У вас нет аккаунта?
                                <a href="/signup"
                                    class="text-primary text-gradient font-weight-bold">Зарегистрироваться</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-6 d-lg-flex d-none h-100 my-auto pe-0 position-absolute top-0 end-0 flex-column">
                    <div class="position-relative h-100 m-3 px-7 border-radius-1 d-flex flex-column justify-content-center"
                        style="background-position: center; background-image: url(../../static/images/bg_header_4.jpg);">
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
{{end}}