{{define "title"}}Ваши заказы{{end}}

{{define "body"}}
    <div id="preloader" class="d-flex content-center align-center">
        <div class="spinner-grow text-color-blue" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    <div class="container-fluid navigation bg-blue">
        <div class="container">
            <header id="header"
                    class="d-flex flex-wrap align-items-center justify-content-center justify-content-between padding-y-1">
                <a class="text-light ig-logo" href="https://www.instagram.com/s.renovation_/" target="_blank">
                    <i class="fa-brands fa-instagram fa-xl"></i>
                </a>
                <div class="brand">
                    <a href="/"
                       class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
                        <img class="brand-img" src="../../static/images/brand_logo/brand-3.png" alt="s-renovation">
                    </a>
                </div>
                <ul id="navbar-lists" class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="/#services" class="i-nav-link nav-link px-4 link-light">Услуги</a></li>
                    <li><a href="/#gallery" class="i-nav-link nav-link px-4 link-light">Работы</a></li>
                    <li><a href="/#prices" class="i-nav-link nav-link px-4 link-light">Цены</a></li>
                    <li><a href="/#contact" class="i-nav-link nav-link px-4 link-light">Контакты</a></li>
                    <li><a href="/#advantages" class="i-nav-link nav-link px-4 link-light">Преимущества</a>
                    </li>
                </ul>
                <a id="offcanvas-btn" class="btn" data-bs-toggle="offcanvas" href="#offcanvas" role="button"
                   aria-controls="offcanvasExample" style="width:50px; padding-right: 0;">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 850 643.91" style="max-width: 25px;">
                        <defs>
                            <style>
                                .cls-1 {
                                    fill: #fff;
                                }
                            </style>
                        </defs>
                        <g id="Слой_2" data-name="Слой 2">
                            <g id="Слой_1-2" data-name="Слой 1">
                                <path class="cls-1" d="M50,99.5a49.5,49.5,0,0,1,0-99H800a49.5,49.5,0,0,1,0,99Z" />
                                <path class="cls-1"
                                      d="M800,1a49,49,0,0,1,0,98H50A49,49,0,0,1,50,1H800m0-1H50A50,50,0,0,0,0,50H0a50,50,0,0,0,50,50H800a50,50,0,0,0,50-50h0A50,50,0,0,0,800,0Z" />
                                <path class="cls-1" d="M50,643.41a49.5,49.5,0,0,1,0-99H800a49.5,49.5,0,0,1,0,99Z" />
                                <path class="cls-1"
                                      d="M800,544.91a49,49,0,0,1,0,98H50a49,49,0,0,1,0-98H800m0-1H50a50,50,0,0,0-50,50H0a50,50,0,0,0,50,50H800a50,50,0,0,0,50-50h0a50,50,0,0,0-50-50Z" />
                                <path class="cls-1" d="M50,371.46a49.5,49.5,0,0,1,0-99H800a49.5,49.5,0,0,1,0,99Z" />
                                <path class="cls-1"
                                      d="M800,273a49,49,0,0,1,0,98H50a49,49,0,0,1,0-98H800m0-1H50A50,50,0,0,0,0,322H0a50,50,0,0,0,50,50H800a50,50,0,0,0,50-50h0a50,50,0,0,0-50-50Z" />
                            </g>
                        </g>
                    </svg>
                </a>
                <div class="offcanvas offcanvas-start py-0 px-3" tabindex="-1" id="offcanvas"
                     aria-labelledby="offcanvasLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasLabel">
                            <div class="brand">
                                <a href="/"
                                   class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
                                    <img class="brand-img" src="static/images/brand_logo/brand-2.png"
                                         alt="s-renovation">
                                </a>
                            </div>
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <hr>
                    <ul class="nav nav-pills flex-column mb-auto">
                        <li>
                            <a href="/user/profile" class="nav-link link-dark main-border-radius">Профиль</a>
                        </li>
                        <li>
                            <a href="/user/orders" class="nav-link active bg-blue main-border-radius">Заявки</a>
                        </li>
                        <li>
                            <a href="#" class="nav-link link-dark main-border-radius">Выйти</a>
                        </li>
                    </ul>
                </div>
            </header>
        </div>
    </div>
    <div class="container-fluid">
        <div class="container mt-5">
            <div class="row g-5 p-4">
                <div class="col-12 col-md-4 d-none d-lg-block border-1" style="border: 1px solid #d5d5d5; padding: 1.5rem; border-radius: 7px;">
                    <ul class="nav nav-pills flex-column mb-auto">
                        <li class="nav-item">
                            <a href="/user/profile" class="nav-link link-dark main-border-radius" aria-current="page">
                                Профиль
                            </a>
                        </li>
                        <li>
                            <a href="/user/orders" class="nav-link active bg-blue main-border-radius">
                                Заявки
                            </a>
                        </li>
                        <li>
                            <a href="#" class="nav-link link-dark main-border-radius">
                                Выйти
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-12 col-lg-8">
                    <div class="content-header pb-4 ">
                        <h2 class="pb-3">Заявки</h2>
                    </div>
                    <div class="content-body">
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Дата заявки</th>
                                <th scope="col">Стоимость</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>02.04.2021</td>
                                <td>2 000 000 тг</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>17.06.2022</td>
                                <td>3 000 000 тг</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>01.01.2022</td>
                                <td>10 000 000 тг</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{end}}